@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Ubuntu", sans-serif;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  margin-bottom: 2rem;
  width: 70%;
  color: white;
  margin-top: 2rem;
  padding: 1rem;
}

.header {
}

.description {
  padding: 1rem;
  margin-top: 2rem;
  width: 70%;
  background-color: black;
  color: white;
}

.videoContainer {
  width: 70%;
  background-color: red;
  color: aliceblue;
}
